---
layout: full-width
---

<script>
  $(document).ready(function() {
    fetch("./assets/data/typetexts.json")
    .then(response => {
      return response.json();
    })
    .then(data => {
      $("#typewriteText").typewrite({
      actions: [{ type: data.typetexts[Math.floor(Math.random() * data.typetexts.length)] }]
    });
    });
  });
</script>

    <!-- hero section-->
    {%- include hero.html -%}
    <div class="col-lg-8 offset-md-2">
      {%- include recent_articles.html -%}
    </div>